<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Додати автора</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:insert="blocks/header :: header" class="header"></header>
<h1>Додати нового сценариста</h1>

<form th:action="@{/admin/screenwriters/add}" method="post">
  <label for="nameScreenwriter">Ім'я сценариста:</label>
  <input type="text" id="nameScreenwriter" name="nameScreenwriter" required>

  <label for="descriptionScreenwriter">Опис:</label>
  <textarea id="descriptionScreenwriter" name="descriptionScreenwriter"></textarea>

  <button type="submit">Зберегти</button>
</form>

<a href="/admin/screenwriters">Назад до списку авторів</a>
<footer th:insert="~{blocks/footer::footer}" class="footer"></footer>
</body>
</html>
