<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Додати жанр</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}" class="header"></header>
<h1>Додати жанр</h1>
<form th:action="@{/admin/genres/add}" method="post">
  <label for="nameGenre">Назва</label>
  <input type="text" id="nameGenre" name="nameGenre" required/>
  <button type="submit">Зберегти</button>
</form>
<footer th:insert="~{blocks/footer::footer}" class="footer"></footer>
</body>
</html>
