<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Додати автора</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:insert="blocks/header :: header" class="header"></header>
<h1>Додати нового автора</h1>

<form th:action="@{/admin/artists/add}" method="post">
  <label for="nameArtist">Ім'я автора:</label>
  <input type="text" id="nameArtist" name="nameArtist" required>

  <label for="descriptioneArtist">Опис:</label>
  <textarea id="descriptioneArtist" name="descriptioneArtist"></textarea>

  <button type="submit">Зберегти</button>
</form>

<a href="/admin/artists">Назад до списку авторів</a>
<footer th:insert="~{blocks/footer::footer}" class="footer"></footer>
</body>
</html>
